@import "tailwindcss";
@config "../../tailwind.config.ts";

@layer base {
  :root {
    --color-text-default-default: #1e1e1e;
    --color-border-default-default: #d9d9d9;
    --color-background-warning-tertiary: #fffbeb;
    --color-border-warning-tertiary: #bf6a02;
    --color-background-default-default: #ffffff;
    --color-background-default-secondary: #f5f5f5;
    --color-icon-warning-on-warning-secondary: #682d03;
    --color-text-warning-on-warning-secondary: #682d03;
    --color-border-warning-default: #522504;
    --color-icon-small: 24;
    --color-text-warning-on-warning-tertiary: #522504;
    --color-background-warning-secondary: #fff1c2;
    --color-border-utilities-swatch: #000000;
    --color-background-default-default-hover: #f5f5f5;
    --color-background-default-secondary-hover: #e6e6e6;
    --color-background-default-tertiary: #d9d9d9;
    --color-background-default-tertiary-hover: #b3b3b3;
    --color-background-disabled-default: #d9d9d9;
    --color-background-brand-default: #2c2c2c;
    --color-background-brand-hover: #1e1e1e;
    --color-background-brand-secondary: #e6e6e6;
    --color-background-brand-secondary-hover: #d9d9d9;
    --color-background-neutral-default: #5a5a5a;
    --color-background-neutral-hover: #434343;
    --color-background-neutral-secondary: #d9d9d9;
    --color-background-neutral-secondary-hover: #b3b3b3;
    --color-background-neutral-tertiary: #e6e6e6;
    --color-background-neutral-tertiary-hover: #d9d9d9;
    --color-background-positive-default: #14ae5c;
    --color-background-positive-hover: #009951;
    --color-background-positive-secondary: #cff7d3;
    --color-background-positive-secondary-hover: #aff4c6;
    --color-background-positive-tertiary: #ebffee;
    --color-background-positive-tertiary-hover: #cff7d3;
    --color-background-warning-default: #e8b931;
    --color-background-warning-hover: #e5a000;
    --color-background-warning-tertiary-hover: #fff1c2;
    --color-background-danger-default: #ec221f;
    --color-background-danger-hover: #c00f0c;
    --color-background-danger-secondary: #fdd3d0;
    --color-background-danger-secondary-hover: #fcb3ad;
    --color-background-danger-tertiary: #fee9e7;
    --color-background-danger-tertiary-hover: #fdd3d0;
    --color-text-neutral-on-neutral-tertiary: #434343;
    --color-border-neutral-tertiary: #b3b3b3;
    --color-text-neutral-on-neutral-secondary: #2c2c2c;
    --color-background-utilities-scrim: #ffffff;
    --color-background-utilities-blanket: #000000;
    --color-background-utilities-overlay: #000000;
    --color-border-default-secondary: #767676;
    --color-border-default-tertiary: #2c2c2c;
    --color-border-disabled-default: #b3b3b3;
    --color-border-brand-default: #2c2c2c;
    --color-border-brand-secondary: #434343;
    --color-border-brand-tertiary: #767676;
    --color-border-neutral-default: #2c2c2c;
    --color-border-neutral-secondary: #767676;
    --color-border-positive-default: #02542d;
    --color-border-positive-secondary: #009951;
    --color-border-warning-secondary: #975102;
    --color-border-danger-default: #900b09;
    --color-border-danger-secondary: #c00f0c;
    --color-border-danger-tertiary: #ec221f;
    --color-text-default-secondary: #767676;
    --color-text-default-tertiary: #b3b3b3;
    --color-text-disabled-default: #b3b3b3;
    --color-text-disabled-on-disabled: #b3b3b3;
    --color-text-brand-default: #2c2c2c;
    --color-text-brand-secondary: #434343;
    --color-text-brand-tertiary: #767676;
    --color-text-brand-on-brand: #f5f5f5;
    --color-text-brand-on-brand-secondary: #1e1e1e;
    --color-text-brand-on-brand-tertiary: #2c2c2c;
    --color-text-neutral-default: #2c2c2c;
    --color-text-neutral-secondary: #5a5a5a;
    --color-text-neutral-tertiary: #767676;
    --color-text-neutral-on-neutral: #f3f3f3;
    --color-text-danger-default: #900b09;
    --color-text-danger-secondary: #c00f0c;
    --color-text-danger-tertiary: #ec221f;
    --color-text-danger-on-danger: #fee9e7;
    --color-text-danger-on-danger-secondary: #900b09;
    --color-text-danger-on-danger-tertiary: #900b09;
    --color-text-warning-default: #522504;
    --color-text-warning-secondary: #975102;
    --color-text-warning-tertiary: #bf6a02;
    --color-text-warning-on-warning: #401b01;
    --color-text-positive-default: #02542d;
    --color-text-positive-secondary: #009951;
    --color-text-positive-tertiary: #14ae5c;
    --color-text-positive-on-positive: #ebffee;
    --color-text-positive-on-positive-secondary: #02542d;
    --color-text-positive-on-positive-tertiary: #02542d;
    --color-icon-default-default: #1e1e1e;
    --color-icon-default-secondary: #767676;
    --color-icon-default-tertiary: #b3b3b3;
    --color-icon-disabled-default: #b3b3b3;
    --color-icon-brand-default: #2c2c2c;
    --color-icon-brand-secondary: #434343;
    --color-icon-brand-on-brand-tertiary: #2c2c2c;
    --color-icon-brand-on-brand: #f5f5f5;
    --color-icon-brand-on-brand-secondary: #1e1e1e;
    --color-icon-neutral-default: #2c2c2c;
    --color-icon-neutral-secondary: #5a5a5a;
    --color-icon-neutral-tertiary: #767676;
    --color-icon-neutral-on-neutral: #f3f3f3;
    --color-icon-neutral-on-neutral-secondary: #2c2c2c;
    --color-icon-neutral-on-neutral-tertiary: #434343;
    --color-icon-positive-default: #02542d;
    --color-icon-positive-secondary: #009951;
    --color-icon-positive-tertiary: #14ae5c;
    --color-icon-positive-on-positive: #ebffee;
    --color-icon-positive-on-positive-secondary: #02542d;
    --color-icon-positive-on-positive-tertiary: #024023;
    --color-icon-warning-default: #522504;
    --color-icon-warning-secondary: #975102;
    --color-icon-warning-tertiary: #bf6a02;
    --color-icon-warning-on-warning: #401b01;
    --color-icon-warning-on-warning-tertiary: #522504;
    --color-icon-danger-default: #900b09;
    --color-icon-danger-secondary: #c00f0c;
    --color-icon-danger-tertiary: #ec221f;
    --color-icon-danger-on-danger: #fee9e7;
    --color-icon-danger-on-danger-secondary: #900b09;
    --color-icon-danger-on-danger-tertiary: #900b09;
    --color-background-utilities-measurement: #f3f3f3;
    --space-100: 4px;
    --space-200: 8px;
    --space-300: 12px;
    --space-400: 16px;
    --space-600: 24px;
    --space-800: 32px;
    --space-1600: 64px;
    --space-2400: 96px;
    --space-4000: 160px;
    --space-negative-100: -4px;
    --space-negative-200: -8px;
    --space-negative-300: -12px;
    --space-negative-400: -16px;
    --space-negative-600: -24px;
    --radius-100: 4px;
    --radius-200: 8px;
    --radius-400: 16px;
    --radius-xl: 24px;
    --radius-full: 9999px;
  }
}
